DB_HOST=database
DB_DATABASE=assess_db
DB_USERNAME=root
DB_PASSWORD=secret
PHINX_DB_HOST=database
PHINX_DB_DATABASE=assess_db
PHINX_DB_USERNAME=root
PHINX_DB_PASSWORD=secret
MYSQL_DATABASE=assess_db
MYSQL_ROOT_PASSWORD=secret
